<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink='/' routerLinkActive='active'>FastRed</a>
    <ul class="navbar-nav mr-auto me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink='/home' routerLinkActive='active'>Station Revenue </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/repairable-bikes' routerLinkActive='active'>Repaireable Bikes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink='/high-revenue-stations' routerLinkActive='active'>Top Revenue Stations</a>
      </li>
    </ul>

  </div>
</nav>